extends ../layout

block content
  .row
    .col-md-12
      .main-container
        include ../partials/admin/menu
      
        H1 Admin Mangrove Boost
        
        a(href='/campaign/all') Campaign
