extends ../../layout

block content
  .row
    .col-md-8.col-md-offset-2
      .main-container
        include ../../partials/admin/menu
        .row
          .col-md-12
            h4 #{campaign.name} 
            span.subtitle-admin-view Message for members
            p.quote "#{campaign.message_to_share}"
            h5 Private message
            p.quote "#{campaign.message_backers}"
            if campaign.image
              .col-md-3 
                span picture
              .col-md-7
                img(src='/'+campaign.image, width=200)
            form.form-horizontal(id='new-campaign-form', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .row
                .col-md-8.col-md-offset-2
                  .row
                    .col-md-6
                      a.btn.btn-grey(href='/campaign/new/infos/'+campaign._id) 
                        h4 Edit campaign
                    .col-md-6
                      button.btn.primary-btn(type='submit') 
                        h4 🔥 🔥 Boom 🔥 🔥
