extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      .main-container
        h1 🤷
        br
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            small Enter your email address below and we will send you password reset instructions.
            br
            input.input-plain-grey(type='email', name='email', id='email', placeholder='Email', autofocus, required)
          .form-group
            button.btn.primary-btn(type='submit')
              i.fa.fa-key
              | Reset Password
