extends ../layout

block content
    .row
      .col-md-6.col-md-offset-3
        .main-container
          h1 💂🏻‍
          form.form-horizontal(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              .col-sm-offset-2.col-sm-8
                input.input-plain-grey(type='email', name='email', id='email', placeholder='Email', autofocus, required)
            .form-group
              .col-sm-offset-2.col-sm-8
                input.input-plain-grey(type='password', name='password', id='password', placeholder='Password', required)
            .form-group
              .col-sm-offset-2.col-sm-8
                button.col-sm-6.btn.primary-btn(type='submit') Login
                a.btn.btn-link.col-sm-6(href='/forgot') Forgot your password?
            .form-group
              .col-sm-offset-3.col-sm-2
            .form-group
              .col-sm-offset-3.col-sm-8
                a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
                  i.fa.fa-facebook
                  | Sign in with Facebook
                a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
                  i.fa.fa-twitter
                  | Sign in with Twitter
                a.btn.btn-block.btn-slack.btn-social(href='/auth/slack')
                  i.fa.fa-slack
                  | Sign in with Slack
