extends ../layout

block content
    .row
      .col-md-6.col-md-offset-3
        .main-container
          h1 💂🏻‍
          .form-group
            .col-md-offset-2.col-sm-offset-2.col-lg-offset-2.col-sm-8.col-md-8.col-lg-8
              a.btn.btn-block.btn-slack.btn-social(href='/auth/slack')
                i.fa.fa-slack
                | Login with Slack
          .row
            .col-sm-offset-2.col-sm-8
              h3 OR
          form.form-horizontal(method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              .col-sm-offset-2.col-sm-8
                input.input-plain-grey(type='email', name='email', id='email', placeholder='Email', autofocus, required)
            .form-group
              .col-sm-offset-2.col-sm-8
                input.input-plain-grey(type='password', name='password', id='password', placeholder='Password', required)
            .form-group
              .col-sm-offset-2.col-sm-8
                button.col-sm-6.btn.primary-btn(type='submit') Login
                a.btn.btn-link.mt5.grey-link.col-sm-6(href='/forgot') Forgot your password?
            .form-group
              .col-sm-offset-3.col-sm-2
