footer
  .container.text-center.white
    if user
      a(href='/account') Account
      | 
      a(href='/logout') Logout
    else
      a(href='/login') Login
    p Built by 
    a(href='https://twitter.com/adrienm', target='_blank') @adrienm
    |  x 
    a(href='https://twitter.com/adrianavecc', target='_blank') @adrianavecc
    |  x 
    a(href='https://twitter.com/antoninarcher', target='_blank') @antoninarcher
    |  x 
    a(href='https://twitter.com/stevensanseau', target='_blank') @stevensanseau
    |  x 
    a(href='https://twitter.com/etienne_mgno', target='_blank') @etienne_mgno 
