extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      .main-container
          h2 Spread the good vibes 
          p From time to time, Mangrove Boost pings you on Slack to offer you to share content related to Mangrove on your social media accounts. It’s simple, automated and powerful :)
          p.btn-home
            a.btn.primary-btn(href='/onboarding/step1', role='button') Help create the buzz
