extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      .main-container
          h2 Spread the good vibes 
          p From time to time, Mangrove Boost will ping you on Slack to offer you to tweet content related to Mangrove. When you agree, it is shared through your Twitter account automatically. It’s simple and powerful :)
          .row.justify-content-md-center
            .col-md-6.col-md-offset-3
              a.btn.btn-block.btn-slack.btn-social.text-center(href='/auth/slack')
                i.fa.fa-slack
                | Sign in with Slack
