@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

// Scaffolding
// -------------------------

@font-face {
  font-family: Proxima_regular;
  src: url("../fonts/proxima-nova-regular.ttf");
}

@font-face {
  font-family: Proxima_bold;
  src: url("../fonts/proxima_bold.ttf");
}

@font-face {
  font-family: Proxima_semi_bold;
  src: url("../fonts/proxima_semi_bold.ttf");
}

body {
  background: #FF512F;
  background: -webkit-linear-gradient(right, #FF512F, #DD2476);
  background: linear-gradient(to left, #FF512F, #DD2476);
  text-align: center;
  color: white;
  font-family: Proxima_regular;
}

h1{
  font-family: Proxima_semi_bold;
}

h2{
  font-size: 26px;
}

header{
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-container{
  border-radius: 10px;
  background: white;
  padding: 50px 40px;
  color: #53585F;
  -webkit-box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.25);
  box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.25);
}

footer{
  margin-top: 10px;
}

.btn-home{
  margin-top: 30px;
}

.primary-btn{
  background: #F2384D;
  border: 1px solid #C72F40;
  color: white;
  padding: 10px 40px;

  :hover{
    text-transform: none;
    color: white;
  }
}

.btn-slack{
  height: 45px;
  border: 1px solid #DDDEE0;
  padding: 5px;
}

footer{
  a{
    color: white;
    text-decoration: none;
  }
}

.white{
  color: white;
}

.loader{
  list-style: none;
  float:left;
  display: inline-block;
  margin-left: -20px;

  li{
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #DDDEE0;
    margin-left: 30px;
  }

  li:before{
    content: "";
    width: 30px;
    height: 1px;
    border: 1px solid #DDDEE0;
    display: inline-block;
    margin: 0px 0px 6px -45px;
  }

  li:first-child:before{
    display: none;
  }

  .active{
    color: #F2384D;
    background-color: #F2384D;
  }

  li.active:before{
    color: #F2384D;
    border-color: #F2384D;
  }

  .current{
    width: 20px;
    height: 20px;
  }

}

.btn-block{
  height: 45px;
  width: 200px;
  color: white;
  font-family: Proxima_semi_bold !important;
  font-size: 16px;
  line-height: 33px;
}

.btn-twitter{
  background-color: #4099FF;
}
.btn-facebook{
  background-color: #3b5998;
}
