extends ../layout

block content
  .row
    .col-md-12
      .main-container
        include ../partials/admin/menu
        
        H1 Campaign
        br
        a.btn.primary-btn(href='/campaign/edit', role='button') Create new campaign
        br
        br
        .row.justify-content-md-center
          .col-md-12
            table.table.table-striped.table-bordered.table-hover.table-responsive.justify-content-md-center
              thead.thead-default
                tr
                  th Campaign
                  th Share
                  th Respond
                  th Unsubscribe
              tbody
                for campaign in campaigns
                  tr
                    td
                      a(href='/campaign/view/'+campaign._id) #{campaign.name}
                    td
                      | 0
                    td
                      | 0
                    td 
                      | 0
