.row.admin-menu
  h3 Admin Dashboard
  .col-md-2.col-md-offset-3
    a(href='/campaign/new/link') Start a Campaign
  .col-md-2
    a(href='/campaign/all') Campaigns
  .col-md-2
    a(href='/admin/user') Users
